.site__container {
      max-width: 800px;}

.header__logo {
      font-size: 40px;
      width: 50%;}

.header__nav {
      width: 50%;}

.header__list-item {
    &:last-child {
        a {
            font-size: 20px;
        }
    }
}

.content__description {
      font-size: 20px;
}

.footer__text {
          font-size: 20px;
}