@use "sass:map";
@use "sass:list";
@use "sass:color";

$red: red;

h1{
    background-color: color.scale($red, $lightness: 15%);
}
h2{
    background-color: color.scale($red, $lightness: 30%);
}
h3{
    background-color: color.scale($red, $lightness: 45%);
}
h4{
    background-color: color.scale($red, $lightness: 60%);
}

// @use "sass:color";
// $color: blue;
// @for $i from 1 through 4 {
//   h#{$i} {
//     color: color.scale($color, $lightness: $i * 15%);
//   }
// }