.one-image-bg {
    width: 700px;
    height: 400px;
    border: 3px solid rgb(31, 252, 31);
    background-image: url(../images/rabbit.png);
    background-size: 50%;
    background-repeat: no-repeat;
}