.test_height_grendpa{
    border: 4px solid red;
    width: 500px;
    height: 100px;
    .test_height_daddy{
        border: 4px solid blue;
        width: 500px;
        height: 2em;
        .test_height_baby{
            border: 4px solid green;
            width: 500px;
            height: 50%;
        }
    }
}